 root{
    --green :#00FF00;
    --white :#ffff;
    --black :#0000;
}
.light-theme{
    --bg : var(var(--green));
    --fontColor : var (var(--black));
}
.dark-theme{
    --bg : var(var(--black));
    --fontColor : var (var(--green));

}